/* color palette */
:root {
  --primary-color: #B9D6E5;
  --secondary-color: #FDF3EB;
  --tertiary-color: #FFCC1E;
  --primary-color-dark: #a2bbc8;

  /* for text */
  --light-headline: #eeecec;
  --light-text: #cecbcb;

  --dark-headline: #383539;
  --dark-text: #5b5b5b;
}


/* fonts */
:root {
  --headline-font: 'ivymode', sans-serif;
  --text-font: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--secondary-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* fonts */
h1 {
  font-family: var(--headline-font);
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: var(--headline-font);
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-family: var(--headline-font);
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-family: var(--headline-font);
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family: var(--text-font);
}


/* buttons */
.btn-1 {
  padding: 8px 20px;
  background-color: var(--tertiary-color);
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--dark-headline);
  transition: 0.3s;
}

.btn-1:hover {
  background-color: #eac345;
}

.btn-2 {
  padding: 8px 20px;
  background-color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--dark-headline);
  transition: 0.3s;
}

.btn-2:hover {
  background-color: var(--primary-color-dark);
}


.btn-3 {
  padding: 8px 20px;
  border: 2px solid var(--tertiary-color);
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--dark-headline);
  transition: 0.3s;
}

.btn-3:hover {
  background-color: #eac345;
}


/* rounded corners */
.round-corner {
  border-radius: 10px;
}

.round-corner-top {
  border-radius: 10px 10px 0 0;
}

/* padding on the sides */
.ten-percent {
  padding-right: 10%;
  padding-left: 10%;
}

.five-percent {
  padding-right: 5%;
  padding-left: 5%;
}

.three-percent {
  padding-right: 3%;
  padding-left: 3%;
}

/* background */
.dark-bg {
  background-color: var(--primary-color)
}

.light-bg {
  background-color: var(--secondary-color)
}

.white-bg {
  background-color: #ffffff;
}

.extra-dark-bg {
  background-color: var(--primary-color-dark);
}


/* text color */
.light-headline {
  color: var(--light-headline);
}

.light-text {
  color: var(--light-text);
}

.dark-headline {
  color: var(--dark-headline);
}

.dark-text {
  color: var(--dark-text);
}

.yellow-text {
  color: var(--tertiary-color);
}